@font-face {
    font-family: 'Libre Baskerville', Times New Roman, serif;
    src: url('/fonts/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville', Times New Roman, serif;
    src: url('/fonts/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pragati Narrow', Arial, sans-serif;
    src: url('/fonts/PragatiNarrow-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pragati Narrow', Arial, sans-serif;
    src: url('/fonts/PragatiNarrow-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[role='list'], ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a, button {
    cursor: pointer;
}

input {
    padding: 5px;
}

input, button, textarea, select {
    font: inherit;
}

body {
    max-width: 1933px;
    height: auto;
}

.wrapper-menu {
    width: 100%;
    height: 1330px;
    background-image: url("images/desctop-menu.jpg");
    background-position: top right;
    background-size: 78%;
    background-repeat: no-repeat;

}

.top-menu {
    width: 100%;
    max-width: 1440px;
    height: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #FFFFFF;
    font-family: "Libre Baskerville", serif;
    color: #292929;
}

.top-menu a {
    border-bottom: 2px solid #ffffff
}

.top-menu a:hover {
    border-bottom: 2px solid #db5d6d;
}

.navigation-rating, .navigation-rating a {
    width: 146px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 6px;
}

.navigation-rating img {
    width: 56px;
    padding-bottom: 1px;
}

.navigation-rating p {
    font-size: 10px;
    font-weight: 700;

}

.navigation-rating h6 {
    font-size: 12px;
    line-height: 24px;
}

.navigation-trigger {
    width: 65px;
    height: 100%;
    margin-right: 10px;
}

.navigation-trigger a, .navigation-faq a {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 400;
    color: #292929;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-faq {
    width: 24px;
    height: 100%;
}

header {
    max-width: 1440px;
    width: 100%;
    height: 79px;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
}

.logo {
    width: 15%;
}

.first-menu {
    width: 310px;
    height: 100%;
    display: flex;
    align-items: center;
}

.first-menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    display: inline-block;
    margin-left: 5px;
    width: 5px;
    height: 5px;
    border-right: 1px solid #d01f35;
    border-bottom: 1px solid #d01f35;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.menu-ul-nav.active .arrow {
    transform: rotate(-45deg);
}

.dropdown-content {
    width: 100%;
    height: auto;
    position: absolute;
    display: none;
    z-index: 10;
    transform: translate(-44%, 68%);
}

#big-tips-content {
    width: 100%;
    height: 329px;
    background-color: #ffffff;
    transform: translate(-6%, -19px);
}

.tips-content {
    width: 100%;
    height: 249px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.wrapper-ideas-button {
    width: 100%;
    max-width: 288px;
    height: 249px;
    border-right: 1px solid rgb(224, 224, 224);
}

#tips-process {
    justify-content: normal;
}

#flooring-advice {
    height: 88px;
}

.wrapper-ideas-column {
    width: 224px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
}

.wrapper-ideas-third, .wrapper-ideas-fourth {
    width: 224px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
}

.wrapper-ideas-column h4, .wrapper-ideas-third h4, .wrapper-ideas-fourth h4 {
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: rgb(41, 41, 41);
}

.first-menu .wrapper-ideas-column a, .first-menu .wrapper-ideas-third a, .first-menu .wrapper-ideas-fourth a {
    font-size: 14px;
    font-weight: 400px;
    line-height: 16px;
    color: rgb(41, 41, 41);
}

#visualizer a {
    margin-right: 2px;
    transition: all 0.2s ease-in-out;
}

#visualizer a:hover {
    margin-right: 6px;
}

#visualizer img {
    width: 6px;
    height: 9px;
    margin-top: 4px;
}


.first-menu .wrapper-ideas-column a:hover, .first-menu .wrapper-ideas-third a:hover, .first-menu .wrapper-ideas-fourth a:hover {
    color: #d01f35;
}

.card-content {
    width: 223px;
    height: 217px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-content h3 {
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    font-weight: 400;
    line-height: 36px;
}

.card-content p {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
}

.card-content button {
    width: 177px;
    height: 52px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: rgb(28, 41, 74);
    border: 2px solid rgb(28, 41, 74);
    border-radius: 30px;
}

.card-content button:hover {
    color: #FFFFFF;
    background-color: rgb(28, 41, 74);
}


#big-wrapper-flooring {
    width: 100%;
    height: 224px;
    background-color: #FFFFFF;
    transform: translateX(5.2%);
}

.wrapper-flooring {
    width: 100%;
    height: 144px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.floring-text-column {
    width: 100%;
    max-width: 224px;
    height: 144px;
    padding: 0 32px;
    border-right: 1px solid rgb(224, 224, 224);
}


.floring-text-img {
    width: 435px;
    height: 128px;
}

.img-end {
    display: flex;
    width: 350px;
    flex-direction: column;
    flex-wrap: wrap;
    border: none;
}

.floring-text-column img {
    width: 128px;
    height: 128px;
    margin-right: 32px;
}

.wrapper-flooring .column-a {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #292929;
}

.floring-text-column p {
    padding: 5px 0 8px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    line-height: 14px;
    color: rgb(91, 91, 91);
}

.floring-text-column a:hover {
    color: #d01f35;
}

.wrapper-vector {
    width: 165px;
    display: inline-flex;
}

.wrapper-flooring #vector {
    margin-right: 5px;
    transition: all 0.2s ease-in-out;
}

.wrapper-flooring #vector:hover {
    margin-right: 9px;
}

#big-wrapper-ideas {
    width: 100%;
    height: 355px;
    transform: translate(-0.7%, -24px);
    background-color: #FFFFFF;
}

.wrapper-ideas {
    width: 100%;
    height: 315px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.menu-ul-nav.active .dropdown-content {
    display: block;
}

.second-menu {
    width: 240px;
    display: flex;
    justify-content: space-around;
}

.menu-p-left {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    color: #292929;
    padding-top: 1px;
}

.menu-p-right {
    width: 125px;
    height: 19px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid#969696;
}

.menu-p-right p {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: #969696;
}

ul {
    list-style-type: none;
}

.first-menu a {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #292929;
    text-decoration: none;
}

.menu-btn {
    margin-left: 5px;
}

.wrapper-arrow {
    width: 15px;
    height: 20px;
    display: flex;
}

.arrow-right {
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.arrow-right::before,
.arrow-right::after {
    content: '';
    position: absolute;
}

.arrow-right::before {
    width: 17px;
    height: 2px;
    background-color: #D01F35;
}

.arrow-right::after {
    width: 8px;
    height: 8px;
    position: relative;
    right: -5px;
    border-top: 2px solid #D01F35;
    border-left: 2px solid #D01F35;
    transform: rotate(136deg);
}

.arrow-right:hover::before {
    background-color: #80d14a;
}

.arrow-right:hover::after {
    border-color: #80d14a;
}

.menu-ul-nav {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #FFFFFF;
    padding-top: 2px;
}

.menu-ul-nav:hover {
    border-bottom: 2px solid #db5d6d;
}

/* Burger Menu */
.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
}

#burger-menu span {
    display: block;
    height: 2px; 
    background-color: rgb(208, 31, 53); 
    border-radius: 2px; 
    transition: transform 0.3s ease, opacity 0.3s ease; 
    transform-origin: center;
  }

#burger-menu.active span:nth-child(1) {
    transform: translateY(8px) rotate(-135deg); 
}
#burger-menu.active span:nth-child(2) {
    opacity: 0;
    transition: opacity 0.1s ease;
}
#burger-menu.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.mobile-menu {
    width: 100%;
    height: 100vh;
    top: 80px;
    padding-top: 16px;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(224, 224, 224);
    transform: translateX(100%);
    transition: transform 0.25s ease-in-out, 0.25s ease-in-out;
}

.mobile-menu.active {
    width: 100%;
    height: 100vh;
    top: 80px;
    padding-top: 16px;
    opacity: 1;
    display: flex;
    background-color: #ffffff;
    z-index: 99;
    border-bottom: 1px solid rgb(224, 224, 224);
    transform: translateX(0);
}

.mobile-menu.active a, .mobile-menu a {
    font-size: 24px;
    color: #292929;
}

.mobile-menu span {
    width: 12px;
    height: 12px;
    margin-top: 7px;
    display: flex;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    rotate: -45deg;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-bottom: 12px;
}

.mobile-menu ul li {
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 20px 24px;
}

.mobile-menu ul li a {
    text-decoration: none;
    color: #000;
}

.mobile-menu .content-mobile li a {
    font-size: 16px;
}

.mobile-menu .content-mobile li {
    padding: 12.8px 0;
}

.mobile-menu .content-mobile {
    padding: 48px 24px;
}

@media (min-width: 768px) {
    .page, .mobile-menu.active {
        display: none;
    }
}

@media (max-width: 768px) {
    html {
        height: 100%;
    }

    body {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    .top-menu {
        display: none;
    }

    header {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 0;
        flex-wrap: wrap;
        margin-top: 0;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .page {
        display: none;
    }

    .page.active {
        display: block;
    }

    .second-menu {
        display: none;
    }

    .logo {
        width: 39%;
        margin-left: 30px;
    }

    .first-menu {
        display: none;
    }

    .wrapper-message textarea {
        height: 60px;
    }

    .form-menu-second input, .form-menu-first input {
        height: 48px;
    }

    .form-menu {
        height: 300px;
    }

    .wrapper-logo {
        height: 35%;
    }

    .form-menu button {
        width: 130px;
        height: 55px;
    }

    .burger-menu {
        display: flex;
        margin-right: 30px;
    }

    .second-menu {
        order: 1;
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }

    .menu-p-left {
        font-size: 18px;
        line-height: 21px;
        margin-right: 17px;
    }

    .menu-p-right p {
        font-size: 18px;
        line-height: 21px;
    }

    .menu-p-right {
        width: 144px;
        height: 21px;
    }

    .page {
        display: none;
    }

    .page.active {
        height: auto;
        margin: 0 24px;
        display: block;
    }

    .page.active a {
        text-decoration: none;
    }

    .flooring-content-mobile a {
        display: block;
    }

    .page.active button {
        margin: 20px 0 10px;
        font-family: 'Libre Baskerville', Times New Roman, serif;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 16px;
        color: #0d0d0d;
        background-color: #FFFFFF;
        border: none;
    }

    .page.active h2 {
        font-family: 'Pragati Narrow', Arial, sans-serif;
        font-size: 36px;
        font-weight: 400;
        font-style: normal;
        line-height: 36px;
        color: #292929;
        margin-bottom: 17px;
    }

    .custom-nav button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: 'Libre Baskerville', Times New Roman, serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        border: none;
        color: #292929;
        background-color: #FFFFFF;
    }

    .vector-back {
        height: 9px;
        margin-right: 7px;
        transform: rotate(180deg);
    }

    .flooring-content-mobile {
        padding: 24px 0 12px;
        border-top: 1px solid rgb(224, 224, 224);
    }

    .flooring-content-mobile a {
        font-family: 'Libre Baskerville', Times New Roman, serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 16px;
        margin: 12px 0 8px;
        color: #0d0d0d;
        text-decoration: none;
    }

    .flooring-content-mobile p {
        font-family: 'Libre Baskerville', Times New Roman, serif;
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        line-height: 18px;
        color: rgb(13, 13, 13);
        padding-bottom: 25px;
    }

    #flooring-img {
        margin: 16px 0 16px;
    }

    .vector-mobile {
        height: 9px;
        margin-left: 6px;
    }

    .button-big-mobile {
        width: 177px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px 0 48px;
        font-family: "Libre Baskerville", Times New Roman, serif;
        font-weight: 700;
        line-height: 14px;
        font-style: normal;
        font-size: 14px;
        color: #1c294a;
        border: 2px solid #1c294a;
        border-radius: 30px;
    }

    .ideas-content-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top: 1px solid rgb(224, 224, 224);
        padding: 40px 0;
    }

    #page2 h3, #page3 h3 {
        font-family: "Libre Baskerville", Times New Roman, serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: 27px;
        color: #292929;
    }

    .ideas-content-mobile h4 {
        font-family: 'Pragati Narrow', Arial, sans-serif;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        line-height: 16px;
        color: #292929;
        margin-bottom: 16px;
        text-transform: uppercase;
    }

    .ideas-content-mobile a {
        font-family: 'Libre Baskerville', Times New Roman, serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: 16px;
        color: #292929;
        padding: 12.8px 0;
    }

    .ideas-content-mobile a.last-link {
        display: block;
        font-family: 'Libre Baskerville', Times New Roman, serif;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        line-height: 27px;
        color: #292929;
        padding: 25px 0;
    }

}

.mobile-menu ul li a, .burger-menu span {
    transition: background-color 0.3s ease;
}